app:
  base-url: http://localhost:8080/identity
server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  application:
    name: myproject-app
  datasource:
    url: "jdbc:mysql://localhost:3306/db_weather_app"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6380
      timeout: 5000ms
  ai:
    openai:
      api-key: ${GEMINI_KEY}
      chat:
        base-url: https://generativelanguage.googleapis.com
        completions-path: /v1beta/openai/chat/completions
        options:
          model: gemini-2.0-flash
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
track-asia:
  api-key: ${TRACK_ASIA_KEY}
  base-url: https://maps.track-asia.com/route/v2/directions/json
gemini:
  api:
    key: ${GEMINI_KEY}